APP_NAME=Обозреватель Технической Документации API
APP_ENV=dev
APP_PORT=8000

OPENSEARCH_HOST=http://localhost:9200
OPENSEARCH_INDEX=telecom_docs_v1
OPENSEARCH_USERNAME=
OPENSEARCH_PASSWORD=
STORAGE_DB_PATH=
